#FriendliestFolkPane
{
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	height: 184px;
	margin-top: 10px;
	overflow: auto;
	width: 770px;
}

#FriendliestFolk h4
{
	font-size: 10pt;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
}
/*
     FILE ARCHIVED ON 19:52:40 Nov 10, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:22:54 Jan 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 126.122
  exclusion.robots: 0.204
  esindex: 0.008
  exclusion.robots.policy: 0.192
  CDXLines.iter: 12.06 (3)
  LoadShardBlock: 108.1 (3)
  RedisCDXSource: 3.037
  PetaboxLoader3.datanode: 94.699 (4)
  load_resource: 22.997
*/